.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  padding-left: 128px;
  padding-right: 128px;
  padding-top: 52px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  border-bottom: 1px solid rgba(251, 251, 251, 0.4);
}

.wrapper {
  display: flex;
  column-gap: 24px;
}

@media screen and (max-width: 1024px) {
  .header {
    padding-left: 96px;
    padding-right: 96px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 42px;
    padding-bottom: 10px;
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media screen and (max-width: 375px) {
  .header {
    padding-left: 32px;
    padding-right: 32px;
  }
}
